# .gcloudignore
# 不要なファイルやシステムファイルを除外する
*
!Dockerfile
!app.py
!requirements.txt
!aggregator/
!aggregator/*.py

# Windows システムファイルを除外
NTUSER.DAT*
ntuser.dat*
*.log
*.tmp
.git/
.gitignore
__pycache__/
*.pyc
venv/
.env
